.home-containter{
    background-image: url(/assets/imgs/395434.jpg);
    background-size: cover;
    opacity: 0.95;
    height: 700px;
    background-position: center;
    *{
        color: #d9d9d9;
        opacity: 1;
        padding: 5px;
    }
}